<br><br>

<!-- --------------Apartado de Habilidades------------- -->
<div class="row center  grey lighten-1" style="padding: 2em; border-radius: 1em;">
  <h2 class="header left   teal-text">Habilidades</h2>
  <div class="row center">
    <h5 class="header left col s12 light left-align text-darken-3">

      <ul class="collection">
        <li class="collection-item avatar grey lighten-1">
          <i class="material-icons circle">thumb_up</i>
          <p> <br>
            Amplia experiencia en el mantenimiento y la instalación de equipo de cómputo.
          </p>
        </li>
        <li class="collection-item avatar grey lighten-1">
          <i class="material-icons circle">thumb_up</i>
          <p> <br>
            Completa familiaridad en la configuración de hardware y aplicaciones de software.
          </p>
        </li>
        <li class="collection-item avatar grey lighten-1">
          <i class="material-icons circle">thumb_up</i>
          <p> <br>
            Excelente dominio de paquetes de software.
          </p>
        </li>
        <li class="collection-item avatar grey lighten-1">
          <i class="material-icons circle">thumb_up</i>
          <p> <br>
            Habilidades para instalación y en el mantenimiento de cableado estructurado.
          </p>
        </li>
      </ul>
    </h5>
  </div>
</div>
<div class="progress">
  <div class="determinate" style="width: 100%"></div>
</div>


<!-- --------------Apartado de Formacion adicional------------- -->
<div class="row center  grey lighten-1" style="padding: 2em; border-radius: 1em;">
  <h2 class="header left   teal-text">Formacion adicional</h2>
  <div class="row center">
    <h5 class="header left col s12 light left-align text-darken-3">

      <ul class="collection">
        <li class="collection-item avatar grey lighten-1">
          <i class="material-icons circle">school</i>
          <span class="title">Febrero 2017</span>
          <p>Centro de Investigación en Computo CIC - IPN.<br>
            Constancia "reparación y mantenimiento de equipo de cómputo"
          </p>
        </li>
        <li class="collection-item avatar grey lighten-1">
          <i class="material-icons circle">school</i>
          <span class="title">Diciembre 2016</span>
          <p>Centro de Investigación en Computo - IPN.<br>
            "Introducción a la programación".
          </p>
        </li>
        <li class="collection-item avatar grey lighten-1">
          <i class="material-icons circle">school</i>
          <span class="title">Abril 2015</span>
          <p>ESIME Culhuacán, IPN.<br>
            "congreso de seguridad de la información."
          </p>
        </li>
        <li class="collection-item avatar grey lighten-1">
          <i class="material-icons circle">school</i>
          <span class="title">Diciembre 2010 </span>
          <p>Centro de estudios científicos y tecnológicos no. 10 “Carlos Vallejo Márquez” IPN.<br>
            "Seminario mantenimiento y reparación de pc"
          </p>
        </li>
      </ul>
    </h5>
  </div>
</div>
<div class="progress">
  <div class="determinate" style="width: 100%"></div>
</div>