<br><br>

<!-- --------------Apartado de Habilidades------------- -->
<div class="row center  grey lighten-1" style="padding: 2em; border-radius: 1em;">
  <h2 class="header left   teal-text">Habilidades</h2>
  <div class="row center">
    <h5 class="header left col s12 light left-align text-darken-3">

      <ul class="collection">
        <li class="collection-item avatar grey lighten-1">
          <img src="https://www.tecnm.mx/images/tecnm_virtual/tecnm.png" alt="" class="circle">
          <span class="title">2016 – TecNM </span>
          <p>Instituto Tecnológico de Gustavo A. Madero<br>
            Información y Comunicaciones. 9mo Semestre
          </p>
        </li>
        <li class="collection-item avatar grey lighten-1">
          <img
            src="https://img1.freepng.es/20180531/hyf/kisspng-escom-instituto-politcnico-nacional-escuela-supe-lemon-grass-5b0fbe5636a625.6618946915277584222239.jpg"
            alt="" class="circle">
          <span class="title">2010 – IPN.</span>
          <p> Escuela Superior de Cómputo <br>
            Ingeniería en sistemas computacionales. Carrera trunca
          </p>
        </li>
        <li class="collection-item avatar grey lighten-1">
          <img src="https://www.cecyt10.ipn.mx/assets/files/cecyt10/img/inicio/cecyt10.png" alt="" class="circle">
          <span class="title">2006 – 2010 IPN. </span>
          <p>Centro de Estudios Científicos y Tecnológicos No.10 “Carlos Vallejo Márquez”.<br>
            Técnico en telecomunicaciones.
          </p>
        </li>
        <li class="collection-item avatar grey lighten-1">
          <img
            src="https://sec147otilioedmontanoshezturnovespertino.files.wordpress.com/2017/10/cropped-oemslogooficial.png"
            alt="" class="circle">
          <span class="title">2003 – 2000 </span>
          <p>Escuela secundaria diurna “Otilio Eduardo Montaño”.</p>
        </li>
      </ul>
    </h5>
  </div>
</div>
<div class="progress">
  <div class="determinate" style="width: 100%"></div>
</div>
