<br><br>
<div div class="row center  teal lighten-4" style="padding: 2em; border-radius: 1em;">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">account_circle</i>
        <input id="icon_prefix" type="text" class="validate">
        <label for="icon_prefix">First Name</label>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">phone</i>
        <input id="icon_telephone" type="tel" class="validate">
        <label for="icon_telephone">Telephone</label>
      </div>

<div class="input-field col s6">
        <i class="material-icons prefix">mail</i>
        <input id="icon_telephone" type="tel" class="validate">
        <label for="icon_telephone">e-mail</label>
      </div>
    </div>
  

<div class="row">
    <div class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">textsms</i>
          <input type="text" id="autocomplete-input" class="autocomplete">
          <label for="autocomplete-input">Autocomplete</label>
        </div>
      </div>
    </div>
  </div>
</form>

  <div class="row center">
    <a href="#" class="btn-large waves-effect waves-light teal">Enviar</a>
  </div>
</div>



