<br><br>

<div class="row center   grey lighten-1" style="padding: 2em; border-radius: 1em;">
  <a href="#"><img src="https://i.ibb.co/311W2Lc/perfil.jpg" alt="perfil" border="50" class='imgRedonda'></a>
  <h1 class="header right teal-text text-darken-3">Carlos Arturo Ortiz Vazquez</h1>
</div>
<div class="progress">
  <div class="determinate" style="width: 100%"></div>
</div>

<!-- --------------Apartado de Datos personales------------- -->
<div class="row center  grey lighten-1" style="padding: 2em; border-radius: 1em;">
  <h2 class="header left  teal-text">Datos personales</h2>
  <div class="row center">
    <h5 class="header left col s12 light left-align text-darken-3">
      29 de abril de 1991<br>
      CURP – OIVC910429HDFRZR03<br>
      N.S.S – 20-10-91-3188-6<br>
      Licencia – No. C13907007<br>
      Mexicano. <br>
      Soltero.<br>
      Camino unión no.3 col. Providencia cp. 07550. México, Distrito Federal.<br>
      Tel. 55-62786495 Cel.5525251266<br>
      <a href="mailto:carlos.ort.mx@hotmail.com" class="teal-text"><span class="label">e-mail: carlos.ort.mx@hotmail.com</span></a>
    </h5>
  </div>
</div>
<div class="progress">
  <div class="determinate" style="width: 100%"></div>
</div>

<!-- --------------Apartado de Educacion------------- -->
<div class="row center  grey lighten-1" style="padding: 2em; border-radius: 1em;">
  <h2 class="header left   teal-text">Educacion</h2>
  <div class="row center">
    <h5 class="header left col s12 light left-align text-darken-3">

      <ul class="collection">
        <li class="collection-item avatar grey lighten-1">
          <img src="https://www.tecnm.mx/images/tecnm_virtual/tecnm.png" alt="" class="circle">
          <span class="title">2016 – TecNM </span>
          <p>Instituto Tecnológico de Gustavo A. Madero<br>
            Información y Comunicaciones. 9mo Semestre
          </p>
        </li>
        <li class="collection-item avatar grey lighten-1">
          <img
            src="https://img1.freepng.es/20180531/hyf/kisspng-escom-instituto-politcnico-nacional-escuela-supe-lemon-grass-5b0fbe5636a625.6618946915277584222239.jpg"
            alt="" class="circle">
          <span class="title">2010 – IPN.</span>
          <p> Escuela Superior de Cómputo <br>
            Ingeniería en sistemas computacionales. Carrera trunca
          </p>
        </li>
        <li class="collection-item avatar grey lighten-1">
          <img src="https://www.cecyt10.ipn.mx/assets/files/cecyt10/img/inicio/cecyt10.png" alt="" class="circle">
          <span class="title">2006 – 2010 IPN. </span>
          <p>Centro de Estudios Científicos y Tecnológicos No.10 “Carlos Vallejo Márquez”.<br>
            Técnico en telecomunicaciones.
          </p>
        </li>
        <li class="collection-item avatar grey lighten-1">
          <img
            src="https://sec147otilioedmontanoshezturnovespertino.files.wordpress.com/2017/10/cropped-oemslogooficial.png"
            alt="" class="circle">
          <span class="title">2003 – 2000 </span>
          <p>Escuela secundaria diurna “Otilio Eduardo Montaño”.</p>
        </li>
      </ul>
    </h5>
  </div>
</div>
<div class="progress">
  <div class="determinate" style="width: 100%"></div>
</div>

<!-- --------------Apartado de Experiencia laboral------------- -->
<div class="row center  grey lighten-1" style="padding: 2em; border-radius: 1em;">
  <h2 class="header left   teal-text">Experiencia laboral</h2>
  <div class="row center">
    <h5 class="header left col s12 light left-align text-darken-3">

      <ul class="collection">
        <li class="collection-item avatar grey lighten-1">
          <i class="material-icons circle">folder</i>
          <span class="title">01 de octubre 2009 - 30 de abril 2010</span>
          <p>•	Servicio social. IPN, Cecyt no. 10 - Recursos materiales<br>
            Encargado de almacen.
          </p>
        </li>
        <li class="collection-item avatar grey lighten-1">
          <i class="material-icons circle">folder</i>
          <span class="title">septiembre 2013 – febrero 2016</span>
          <p> •	Asesor de ventas. ALTUX, S.A DE S.V (TAF TEPEYAC) <br>
            Encargado de tienda, Brindando asesoría profesional a los clientes, para generar ventas efectivas y cumplir con los objetivos de ventas
fijados por la empresa. Reconocimiento Otorgado por ser el mejor vendedor de zona en el año 2016.
          </p>
        </li>
        <li class="collection-item avatar grey lighten-1">
          <i class="material-icons circle">folder</i>
          <span class="title">abril 2016 - diciembre 2016 </span>
          <p>Bufete Del Rio S.C.<br>
        Encargado de mantenimiento y actualización de equipo de cómputo; 
        Instalación, configuración y actualización hardware y software. 
        Realizando mantenimiento de equipos informáticos (hardware y software) 
        en cuanto a ordenadores personales y periféricos asociados. Diagnóstico de 
        fallas y errores, reparación y elaboración informes sobre las necesidades de reparación y actualizaciones.
          </p>
        </li>
        <li class="collection-item avatar grey lighten-1">
          <i class="material-icons circle">folder</i>
          <span class="title">enero 2017 - 2021 </span>
          <p>Grupo JMJ Instalaciones S.A. de C.V. <br>
           Encargado del área de sistemas; Realizando mantenimiento preventivo y correctivo a equipo de cómputo 
           así como la detección y corrección fallas en la red, para mejorar el desempeño y administrar la seguridad de esta. 
           Colaboración para realizar la puesta en marcha de SITE para la empresa ALSEA en sucursal Dominós pizza Tláhuac.
          </p>
        </li>
      </ul>
    </h5>
  </div>
</div>
<div class="progress">
  <div class="determinate" style="width: 100%"></div>
</div>